@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1a;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
  display: block; /* Ensure block display */
  position: absolute; /* Force full coverage */
  top: 0;
  left: 0;
}

canvas {
  touch-action: none;
}
